// FONTS
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap');
$font: 'Raleway', sans-serif;

// COLORS
$white:#FFFFFF;
$grey-1:#F8F8F9;
$grey-2: #A5A8B3;
$green: #32D4A4;
$grey-black: #121625;


